.cell {
  aspect-ratio: 1;
  position: relative;
  border: 1px solid transparent;

  &--white {
    background-color: var(--white-cell);
    .cell__notation {
      color: var(--notation-color);
    }
  }
  &--black {
    background-color: var(--black-cell);
    .cell__notation {
      color: var(--notation-color);
    }
  }

  &--active,
  &--selected,
  &--available {
    cursor: pointer;
  }

  &--active {
    border: 1px solid var(--active-cell-border);
  }
  &--selected {
    background-color: var(--selected-cell);
  }
  &--available {
    border: 1px solid var(--selected-cell);
    background-color: var(--available-cell);
  }

  &__notation {
    position: absolute;
  }
}
