.cell {
  aspect-ratio: 1;
  position: relative;

  &--white {
    background-color: var(--white-cell);
    .cell__notation {
      color: var(--black-cell);
    }
  }

  &--black {
    background-color: var(--black-cell);
    .cell__notation {
      color: var(--white-cell);
    }
  }

  &__notation {
    position: absolute;
  }
}
