.layout {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  &__top-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    svg {
      height: 40px;
    }
  }

  &__logo {
    font-family: "Kolker Brush", cursive;
    font-size: 60px;
    line-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin: 0 20px;
    }
  }

  &__main {
    flex: 1;
    display: grid;
    display: flex;
  }
  &__side-bar {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-left: 5px;
  }
  &__info,
  &__players,
  &__chat {
    border: 1px solid green;
    margin-bottom: 5px;
  }
}
