.board-info {
  overflow: hidden;
  border: 1px solid var(--black-cell);
  border-top: none;
  padding: 5px;

  display: flex;
  flex-direction: column;

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__square {
    border: 2px solid var(--black-cell);
    width: 24px;
    height: 24px;
    &--black {
      background-color: var(--black-cell);
    }
  }

  &__notation {
    border-left: 1px solid var(--white-cell);
    border-bottom: 1px solid var(--white-cell);
    height: 100%;
    overflow-y: scroll;

    &-wrapper {
      padding: 5px;
    }

    &-item {
      display: inline-block;
      margin-right: 5px;
    }
    &-order {
      font-weight: bold;
    }
  }
}
