:root {
  --white-cell: rgb(0, 0, 0, 0.1);
  --black-cell: rgba(0, 0, 0, 0.75);

  --active-cell-border: yellowgreen;
  --selected-cell: #248232;
  --available-cell: #2ba84a;

  --notation-color: #9a7aa0;

  --white-figure: rgb(255, 255, 255);
}
