.user-info {
  border: 1px solid var(--white-cell);
  padding: 5px 15px;
  height: 80%;

  display: grid;
  grid-template-columns: fit-content(100%) 1fr fit-content(100%);
  grid-template-rows: 1fr;
  gap: 15px;
  align-items: center;
}
