.cell {
  aspect-ratio: 1;
  position: relative;
  border: 1px solid transparent;

  &__notation {
    color: var(--notation-color);
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &--white {
    background-color: var(--white-cell);
  }
  &--black {
    background-color: var(--black-cell);
  }

  &--active,
  &--selected,
  &--available {
    cursor: pointer;
  }

  &--selected {
    background-color: var(--selected-cell);
  }
  &--available {
    border: 1px solid var(--selected-cell);
    background-color: var(--available-cell);
  }
}
